.container {
  padding: 0 2rem;
  display: flex;
  width: 1100px;
  flex-direction: column;
  align-items: center;
}

.bodyContent {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.bodyContent button {
  width: 257px;
  height: 37px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.featuredItem {
  display: flex;
}

.SamuraiText {
  width: 55%;
  text-align: justify;
}

.featuredTime {
  display: flex;
  justify-content: space-between;
}

.samuraiBuySuggest {
  width: 100%;
  text-align: end;
  align-items: flex-end;
}

.samuraiBuySuggest span {
  color: #b9b8b8;
}

.samuraiFrames {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.samuraiFrames img {
  margin-left: 20px !important;
}

.lineFilter {
  width: 80%;
  height: 1px;
  background: #E4E4E4;
  margin: 20px 0;
}

.lineCart {
  width: 100%;
  height: 2px;
  background: #E4E4E4;
  margin-bottom: 2px;
}

.dataSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sortData {
  display: flex;
  align-items: center;
}

.sortData select {
  margin-left: 10px;
  border: 1px solid white;
  outline: none !important;
  position: relative;
  display: flex;
  line-height: 3;
  overflow: hidden;
}

.sortData svg {
  cursor: pointer
}

.selectData span {
  font-size: 30px;
}

.premiumPhotos {
  color: #9B9B9B;
}

.photography {
font-weight: 900;

}

.selectData {
  display: flex;
  align-items: center;
  justify-content: center;

}


.data {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 235px;
}

.filter label {
  margin-left: 20px;
}

.filter input {
  margin: 15px 0;
}

.optionsFilter {
  width: 80px;
  background: red
}

.showData {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.showData img {
  width: 200px;

}

.cardItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 14px 14px 14px 0;

}

.cardItem img {
  width: 200px;
  height: 150px;
}

.cardItem button {
  width: 200px;
}


.cardItem:hover button {
  display: inline-block !important;
}

.cardItem label {
  margin: 0 auto;
  color: red;
  font-weight: bold;
}

.arrowActive {
  cursor: pointer;
}

.itemName {
  font-size: 24px;
  font-weight: 800;
  color: #000000
}

.itemCategory {
  color: #656565;
}

.itemPrice {
  color: #656565;
}

.category {
  display: flex;
  align-items: center;
}

.arrow {
  cursor: pointer;
}

.arrowClick {
  transform: rotate(270deg);
  cursor: pointer;
}

.arrowFilter {
  display: none;
}

.currentPage button {
  border: none;
  color: #000;
  background: none;
  width: 20px;
  height: auto;
}

.currentPage {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.buttonInactive {
  display: none;
}

.inactivePagination {
  display: none;
}

.cartHolder {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  background: #fff;
  right: 50px;
  top: 70px;
  width: 250px;
  border: 1px solid black;
  border-radius: 4px;
}

.cartHolderHide {
  display: none;

}

.cartItemImage img {
  width: 80px;
}

.cartItems {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 4px;
  margin: 10px 10px;
}

.cartItems label {
  width: 100%;
  height: 1px;
  background: #E4E4E4;
}


.cartItems div {
  display: flex;
  flex-direction: column;
}

.cartItemName {
  font-weight: bold;
}

.cartItensInfo {
  width: 1000px;
}




.cartHolder h4 {
  margin: 0 auto;
  cursor: pointer;
}

.showButton:hover {
  background: red;
}


.hideButton {
  display: none;
}

.featuredText {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.categoryItemFeatured {
  color: #656565;
}

.imgFeatured {
  width: 80%;
}

.featuredLabel {
  margin: 0 auto;
  z-index: 1 !important;
  margin: -35px 565px 20px 0;
}

.featuredLabel span {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #fff;
  font-family: 'Anek Tamil', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.displayOut {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.displayOut span {
  font-family: 'Anek Tamil', sans-serif;
  font-size: 30px;
}

.hideArrow {
  display: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}